{{ $bvid := .Get "bvid" }}
{{ $page := .Get "page" | default 1 }}
{{ $width := .Get "width" | default "100%" }}

<div style="position: relative; width: {{ $width }}; padding-bottom: 56.25%; margin: 1rem 0;">
    <iframe 
        src="//www.bilibili.com/blackboard/html5mobileplayer.html?bvid={{ $bvid }}&page={{ $page }}&high_quality=1&danmaku=0&autoplay=0"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; border-radius: 8px;"
        scrolling="no"
        frameborder="no"
        allowfullscreen="true"
        sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts allow-popups allow-presentation"
    >
    </iframe>
</div>